# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
_py-xgboost-mutex=2.0=cpu_0
alphashape=1.3.1=pypi_0
appnope=0.1.3=pypi_0
asttokens=2.4.0=pypi_0
backcall=0.2.0=pypi_0
backports=1.0=pyhd8ed1ab_3
backports-functools-lru-cache=1.6.5=pypi_0
backports.functools_lru_cache=1.6.5=pyhd8ed1ab_0
blas=1.0=mkl
bottleneck=1.3.5=pypi_0
brotli=1.0.9=pypi_0
brotli-bin=1.0.9=hca72f7f_7
brotli-python=1.0.9=py311hcec6c5f_8
bzip2=1.0.8=h1de35cc_0
ca-certificates=2024.3.11=hecd8cb5_0
certifi=2024.2.2=pypi_0
charset-normalizer=2.0.4=pypi_0
click=8.1.7=pypi_0
click-log=0.4.0=pypi_0
colorama=0.4.6=pyhd8ed1ab_0
comm=0.1.4=pypi_0
contourpy=1.0.5=pypi_0
cycler=0.11.0=pypi_0
debugpy=1.6.7=pypi_0
decorator=5.1.1=pypi_0
exceptiongroup=1.1.3=pypi_0
executing=1.2.0=pypi_0
fonttools=4.25.0=pypi_0
freetype=2.12.1=hd8bbffd_0
giflib=5.2.1=h6c40b1e_3
gmp=6.3.0=h73e2aa4_1
gudhi=3.9.0=pypi_0
icu=73.2=hf5e326d_0
idna=3.7=pypi_0
importlib-metadata=6.8.0=pypi_0
importlib_metadata=6.8.0=hd8ed1ab_0
intel-openmp=2023.1.0=ha357a0b_43547
ipykernel=6.26.0=pypi_0
ipython=8.16.1=pypi_0
jedi=0.19.1=pypi_0
joblib=1.2.0=pypi_0
jpeg=9e=h6c40b1e_1
jupyter-client=8.5.0=pypi_0
jupyter-core=5.4.0=pypi_0
jupyter_client=8.5.0=pyhd8ed1ab_0
jupyter_core=5.4.0=py311h6eed73b_0
kiwisolver=1.4.4=pypi_0
lcms2=2.12=hf1fd2bf_0
lerc=3.0=he9d5cce_0
libboost=1.82.0=hf53b9f2_2
libbrotlicommon=1.0.9=hca72f7f_7
libbrotlidec=1.0.9=hca72f7f_7
libbrotlienc=1.0.9=hca72f7f_7
libcxx=17.0.6=h88467a6_0
libdeflate=1.17=hb664fd8_1
libffi=3.4.4=hecd8cb5_0
libgfortran=5.0.0=11_3_0_hecd8cb5_28
libgfortran5=11.3.0=h9dfd629_28
libiconv=1.17=hd75f5a5_2
libllvm14=14.0.6=h91fad77_3
libpng=1.6.39=h6c40b1e_0
libsodium=1.0.18=hbcb3906_1
libtiff=4.5.1=hcec6c5f_0
libwebp=1.3.2=hf6ce154_0
libwebp-base=1.3.2=h6c40b1e_0
libxgboost=2.0.3=hab2016f_0
llvm-openmp=14.0.6=h0dcd299_0
llvmlite=0.42.0=pypi_0
lz4-c=1.9.4=hcec6c5f_0
matplotlib=3.7.2=pypi_0
matplotlib-base=3.7.2=py311h8251f7d_0
matplotlib-inline=0.1.6=pypi_0
mkl=2023.1.0=h8e150cf_43559
mkl-fft=1.3.8=pypi_0
mkl-random=1.2.4=pypi_0
mkl-service=2.4.0=pypi_0
mkl_fft=1.3.8=py311h6c40b1e_0
mkl_random=1.2.4=py311ha357a0b_0
mordred=1.2.0=pypi_0
mpfr=4.2.1=h4f6b447_1
munkres=1.1.4=pypi_0
ncurses=6.4=hcec6c5f_0
nest-asyncio=1.5.8=pypi_0
networkx=2.8.8=pypi_0
numba=0.59.1=pypi_0
numexpr=2.8.7=pypi_0
numpy=1.26.0=pypi_0
numpy-base=1.26.0=py311h53bf9ac_0
openjpeg=2.4.0=h66ea3da_0
openssl=3.0.13=hca72f7f_2
packaging=23.1=pypi_0
pandas=1.5.3=pypi_0
parso=0.8.3=pypi_0
pexpect=4.8.0=pypi_0
pickleshare=0.7.5=pypi_0
pillow=10.0.1=pypi_0
pip=23.3=pypi_0
platformdirs=3.11.0=pypi_0
prompt-toolkit=3.0.39=pypi_0
prompt_toolkit=3.0.39=hd8ed1ab_0
psutil=5.9.5=pypi_0
ptyprocess=0.7.0=pypi_0
pure-eval=0.2.2=pypi_0
pure_eval=0.2.2=pyhd8ed1ab_0
pwlf=2.2.1=pypi_0
py-xgboost=2.0.3=cpu_pyheee7c3a_4
pydoe=0.3.8=pypi_0
pygments=2.16.1=pypi_0
pynndescent=0.5.12=pyhca7485f_0
pyparsing=3.0.9=pypi_0
pysocks=1.7.1=pypi_0
python=3.11.5=hf27a42d_0
python-dateutil=2.8.2=pypi_0
python-tzdata=2023.3=pyhd3eb1b0_0
python_abi=3.11=2_cp311
pytz=2023.3.post1=pypi_0
pyzmq=24.0.1=pypi_0
rdkit=2023.9.6=pypi_0
readline=8.2=hca72f7f_0
requests=2.32.2=pypi_0
rtree=1.2.0=pypi_0
scikit-learn=1.2.2=pypi_0
scipy=1.11.3=pypi_0
seaborn=0.11.2=pypi_0
setuptools=68.0.0=pypi_0
shapely=2.0.4=pypi_0
six=1.16.0=pypi_0
sqlite=3.41.2=h6c40b1e_0
stack-data=0.6.2=pypi_0
stack_data=0.6.2=pyhd8ed1ab_0
statannotations=0.6.0=pypi_0
tbb=2021.8.0=ha357a0b_0
threadpoolctl=2.2.0=pypi_0
tk=8.6.12=h5d9f67b_0
tornado=6.3.3=pypi_0
tqdm=4.66.4=pyhd8ed1ab_0
traitlets=5.12.0=pypi_0
trimesh=4.4.0=pypi_0
typing-extensions=4.8.0=pypi_0
typing_extensions=4.8.0=pyha770c72_0
tzdata=2023.3=pypi_0
umap-learn=0.5.5=pypi_0
urllib3=2.2.1=pypi_0
wcwidth=0.2.8=pypi_0
wheel=0.41.2=pypi_0
xgboost=2.0.3=pypi_0
xmltodict=0.13.0=pypi_0
xz=5.4.2=h6c40b1e_0
zeromq=4.3.4=h23ab428_0
zipp=3.17.0=pypi_0
zlib=1.2.13=h4dc903c_0
zstd=1.5.5=hc035e20_0
